@inherits System.Web.Mvc.WebViewPage<Web.Controllers.WatchedList>

@{
    View.Title = "Home Page";
}

<div class="container"> 
    <h2>Track What You've Watched</h2>
    
    <div id="search">
        @using(Html.BeginForm("Search", "Home")) {
            <label for="searchSeriesName">Find a Series to Watch:</label>
            <input id="searchSeriesName" type="search" />
            <input type="submit" value="Search" class="button" />
        }
    </div>

    @if (Model.SearchResults != null) {
    <div id="searchResults">
        <h5>Select a Series to Watch</h5>

        <ul>
            @foreach(var sr in Model.SearchResults) { 
                <li>
                    @Html.ActionLink(sr,"watchseries", new { id = sr })
                </li>
            }
        </ul>
    </div>
    }

    <div id="series" class="column span-11 listingbox">
        <h4>Series</h4>

        <ul>
            @foreach(var ss in Model.WatchedSerieses) { 
                <li>
                    @Html.ActionLink(ss.Series.SeriesName,"series", new { id = ss.SeriesId })
                </li>
            }
        </ul>
    </div>

    <div id="episodes" class="column span-11 listingbox">
        <h4>Episodes</h4>

        @if (Model.WatchedEpisodes != null) {
            <ul>
                @foreach(var ee in Model.WatchedEpisodes) { 
                    <li>
                        @Html.CheckBox("watched" + ee.WatchedEpisodeId, ee.Watched)
                        <label for="watched@(ee.WatchedEpisodeId)">@ee.Episode.EpisodeTitle</label>
                        
                    </li>
                }
            </ul>
        } else {
            <p>[Select a Series]</p>
        }
    </div>
</div>